<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>My Blog By Francisco</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/new">New Post</a>
    </nav>
  </header>

  <main>
